*{
    padding: 0;
    margin: 0;
}

.special{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 300px;
    display: flex;
}

.card{
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
}

.card:hover .back{
    top: 0;
    transition: all 0.5s;
}

.card img{
    width: 400px;
    height: 270px;
}

.card > p{
    position: absolute;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    z-index: 2;
    background-color: #fff;
    color: black;
}

.back{
    position: absolute;
    top: 270px;
    width: 380px;
    height: 250px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
}

.card:nth-child(1):hover .back:nth-child(2){
    margin-top: 400px;
}